* {
  margin: 0;
}

.hero-li {
}

.video_left {
}

.smartphonee-text {
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 12px;
}

.marquess-profile_div {
  display: flex;
  gap: 12px;
  align-items: center;
}

.subscribers-16-mln {
  margin-top: 1px;
  color: #606060;
  font-size: 12px;
}

.marques-profile-name {
  margin-bottom: 1px;
  align-items: center;
}

.join-btn {
  width: 60px;
  height: 36px;
  border-radius: 18px;
  background-color: #0000000d;
  border-color: #0000000d;
  font-weight: 500;
}

.subscribe-btn {
  width: 95px;
  height: 36px;
  border-radius: 18px;
  background-color: #0f0f0f;
  color: white;
  font-weight: 500;
}

.like {
  cursor: pointer;
}

.hero-ul {
  list-style: none;
}

.btns-div {
  margin-left: 12px;
}

.video_see-wrapper {
  display: flex;
  justify-content: space-between;
}

.like.active {
  background-color: #0f0f0f;
}

.like-btn {
  display: flex;
  align-items: center;
  width: 141px;
  height: 36px;
  border-radius: 120px;
  padding: 13px;
  gap: 10px;
  border: none;
}

.like-hr {
  width: 1px;
  height: 24px;
}

.like-share-save-btns-div {
  margin-left: 195px;
  display: flex;
  gap: 8px;
}

.share-btn {
  display: flex;
  align-items: center;
  width: 92px;
  height: 36px;
  text-align: center;
  border-radius: 120px;
  border: none;
}

.share-img {
  margin-left: 10px;
  margin-right: 6px;
}

.more-btn-nuqta {
  border-radius: 180px;
  border: none;
  justify-content: center;
  align-items: center;
}

.more-settings-icon {
  margin-bottom: 2px;
}

.views-div {
  width: 966px;
  height: 104px;
  background-color: #0000000d;
  border-radius: 12px;
  margin-top: 12px;
  padding: 12px 0px 1px 12px;
}

.views-p {
  font-size: 14px;
  color: #0f0f0f;
  font-weight: 500;
}

.the-best-p {
  margin-top: 1px;
}

.qalin-span {
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.shop-the {
  margin-top: 26px;
  font-weight: 500;
  line-height: 20px;
}

.shop-the-ul {
  display: flex;
  justify-content: space-between;
}

.core-text {
}

.shop-the-li {
  display: flex;
  gap: 10px;
}

.shop-the-ul {
  margin-top: 15px;
  gap: 15px;
}

.shop-the-dollars {
  font-weight: 500;
  margin-top: 2px;
}

.mkbhd {
  margin-top: 6px;
  color: #606060;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 2px;
}

.new-window-icon {
  margin-top: 7px;
}

.shop-the-hr {
  margin-bottom: 24px;
  width: 966px;
  margin-top: 12px;
}

.coments-sort-by-div {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.sort-image-icon {
  margin-left: 23px;
}

.user-coment-input {
  width: 894px;
  height: 20px;
  border: none;
}

.profile-comet-div {
  display: flex;
  gap: 16px;
}

.add-coment-hr {
  width: 920px;
}

.coments-ul {
  list-style: none;
  padding: 0px;
  margin-top: 32px;
}

.coments-li {
  display: flex;
  gap: 16px;
}

.months-ago-2 {
  font-weight: 400;
  color: #606060;
}

.josep-wards-profile-name {
  font-size: 13px;
  font-weight: 500;
}

.profile-text {
  color: #0f0f0f;
  font-size: 14px;
  margin-top: 2px;
}

.likes-reply-div {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-top: 14px;
  margin-bottom: 20px;
}

.profile-text {
  margin-top: 5px;
}

.k26 {
  font-size: 12px;
  color: #606060;
  margin-top: 3px;
}

.reply-text {
  font-size: 12px;
  color: #0f0f0f;
  font-weight: 500;
  text-decoration: none;
}

.replies-92 {
  text-decoration: none;
  color: #065fd4;
}

.reply-icons {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 16px;
}
