.header_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_block {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo_block img {
  cursor: pointer;
}

.search_input {
  width: 540px;
  padding: 10px;
  border-radius: 20px 1px 1px 20px;
}
.search_container {
  display: flex;
  align-items: center;
}
.btn {
  width: 64px;
  height: 39px;
  border-radius: 1px 20px 20px 1px;
  border-left: none;
  cursor: pointer;
}

.search_container img {
  cursor: pointer;
}

.header_signup {
  display: flex;
  align-items: center;
}

.header_signup img {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: gray;
}

.modal_content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  position: relative;
  text-align: center;
  animation-name: modal;
  animation-duration: 0.8s;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

@keyframes modal {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(10px);
  }
}

#email {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}
